parameters:
	facebookApp:
		appId: "----------YOUR-FB-APP-ID--------------"
		appSecret: "----------YOUR-FB-APP-SECRET--------------"
	gaUAcode: '------YOUR-UA-PROPERTY------' #no problem if you delete this parameter
	debugger: true
